<h1>Signup!</h1>

<div id="login">
<%= form_for :user, url: '/users' do |f| %>

  First Name:
  <br>
  <%= f.text_field :first_name %>
  <br>
  Last Name:
  <br>
  <%= f.text_field :last_name %>
  <br>
  User Name:
  <br>
  <%= f.text_field :user_name %>
  <br>
  Email:
  <br>
  <%= f.text_field :email %>
    <br>
  Email Confirmation:
  <br>
  <%= f.text_field :email_confirmation %>
  <br>
  Password:
  <br>
  <%= f.password_field :password %>
    <br>
  Password Confirmation:
  <br>
  <%= f.password_field :password_digest %>
    <br>
    <br>
  <%= f.submit "Submit" %>

<% end %>
</div>
