<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="reviewform">

  <div class="field">
    <%= form.label :score %>
    <br>
    <%= form.number_field :score, id: :review_score, class: "blacktext" %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <br>
    <%= form.text_area :review, id: :review_review, rows: "10", cols: "50", class: "blacktext" %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <br>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <% form.label :restaurant_id %>
    <br>
    <%= form.hidden_field :restaurant_id, value: params["restaurant_id"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
