<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @review.user.user_name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant.name %>
</p>

<%= link_to 'Back', reviews_path %>
